name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Use Node.js
        uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
        with:
          node-version: '24'

      - name: Install dependencies
        run: NPQ_PKG_MGR=yarn npx npq install

      - name: Run lint
        run: yarn lint

      - name: Run build
        run: yarn build
